#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "app.manifest"
IDI_ICON1 ICON "assets/bouclier.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     1,0,0,0
 PRODUCTVERSION  1,0,0,0
 FILEFLAGSMASK   0x3fL
 FILEFLAGS       0x0L
 FILEOS          0x40004L
 FILETYPE        0x1L
 FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0" // U.S. English + Unicode
    BEGIN
      VALUE "CompanyName",     "CASD"
      VALUE "FileDescription", "My wxWidgets App"
      VALUE "FileVersion",     "1.0.0.0"
      VALUE "InternalName",    "MyWxApp"
      VALUE "OriginalFilename","MyWxApp.exe"
      VALUE "ProductName",     "MyWxApp"
      VALUE "ProductVersion",  "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END